nav{
    position: relative;
    width: 200px;
    height: 100%;
    background-color: #121212;
    color: #fafafa;
  
   .date{
    background-color: #212121;
    font-size: 15px;
    width: inherit;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        margin: auto;
    }
    }
    a{
        text-decoration: none;
        color: #fafafa;
        &:hover{
         text-decoration: none;
         color: #fafafa;
        }
    }
    ul{
        list-style-type: none;
        padding: 0;
        li{
            margin: 15px auto;
            height: 35px;
            display: flex;
            align-items: center;
            transition:  background-color .4s ease;
            padding: auto;
            i{
                margin-right: 10px;
                margin-left: 10px;
            }
            
            &:last-child{
                margin-bottom: 0;
            }
            &:hover{
                background-color: #424242;
                cursor: pointer;  
            }
        }
    }
}